body, #menuArea, #menuSpace, .pageContainer, .page, .page img, #menuElement button, .menuButton {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    height: 100%;
    background-color: #dddddd;
}

#menuArea {
    display: flex;
    position: fixed;
    z-index: 2;
    background-color: black;
    flex-basis: 0;
    top: 0%;
    font-size: 2vw;
}

#menuArea, #menuSpace {
    width: 100%;
}

#menuArea, #menuSpace {
    height: 8vh;
}

.menuElement {
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
    display: flex;
    flex-basis: 0;
    font-size: inherit;
}

.menuElement button, #logoArea img {
    cursor: pointer;
    flex-grow: 1;
}

#logoPadding {
    flex-grow: 3;
}

.menuElement button {
    background-color: black;
    border-color: black;
    color: white;
    border-width: 0px;
    border-style: none;
    outline: none;
    transition: color 0.5s;
    font-size: inherit;
    text-align: center;
    text-indent: auto;
}

.menuElement img, button {
    height: 100%;
}

#logoArea {
    flex-grow: 6;
    flex-shrink: 6;
}

.menuPadding {
    flex-grow: 0.5;
    flex-shrink: 0.5;
}

#pageContainer {
    width: 400%;
    height: 92vh;
    display: flex;
    z-index: 1;
    transition: transform 1s;
    overflow-y: hidden;
}

.page {
    padding-left: 1.25%;
    padding-right: 1.25%;
    width: 22.5%;
    overflow-y: scroll; /*should account for overlay not working in firefox*/
    overflow-y: overlay;
}

.page img {
    width: 100%;
    display: block;
}

#overflowWrapper {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color:grey;
}

a:link:hover, a:visited:hover {
    color:hotpink;
}

a:-webkit-any-link {
    text-decoration: none;
    color:grey;
}

a:hover:-webkit-any-link {
    color:hotpink
}

#logo {
    max-width: 150px;
}
#homeWrapper {
    width: 100%;
    text-align: center;
}

.homeContent {
    color: black;
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 100px;
}

.arialFont {
    font-family: Arial, Helvetica, sans-serif;
}

#aboutText {
    font-size: 1.5em;
}

#linkedinImg {
    width: 100px;
    height: 100px;
}